@import "variables";
@import "component_specific/common";
@import "component_specific/top_nav";
@import "component_specific/sign_in";
@import "component_specific/session_footer";
@import "component_specific/side_nav";
@import "component_specific/leave";
@import "component_specific/ellipses_menu";
//elements
@import "elements/search";

html {
  height: 100vh;
  background-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-color: none;
  color: $secondary;
  font-family: "Proxima Nova";
}

.main-container {
  position: relative;
  min-height: 100%;
  margin-left: 100px;
  top: 50px;
  background-color: #eff1ef;
}

.min-h-100-50 {
  height: calc(100vh - 50px) !important;
}

.page-container {
  padding: 20px !important;
}
