/* colors */
$primary-color: #2986ce;
$primary-color-light: #d6e8f7;
$gradient-color: #534383;
$primary-color-RGB: 52, 142, 216;
$primary-color-HSL9: 206, 67%, 58%;
$primary-color-HSL25: 206, 67%, 74%;
$primary-color-darker: 206, 67%, 38%;
$primary-color-text: #222;
$secondary-color-text: #777;
$border-color: #e4e6e9;
$background-color-light: #ebeef2;
$primary-background-color: #fff;
$secondary-background-color: #f3f4f7;
$background-color-hover: #f8f8f9;
$input-border-color: #d8dde6;
$primary-color: #2986ce;
$white: #fff;
$text-primary: #222;
$text-secondary: #777;
$text-danger: #fa5f5f;
$text-hint: #afafaf;
$bg-color-hover: #f8f8f9;
$bg-slate-20: #f3f4f7;
$bg-slate-700: #4a5363;
$bg-accent-violet: #9785c2;
$input-border-color: #d8dde6;
$border-color: #e4e6e9;

/* colors scheme*/
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;

@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/proximanova-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/proximanova-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

// @font-face {
//     font-family: 'Proxima Nova';
//     src: url('fonts/proximanova-semibold-webfont.woff2') format('woff2');
//     font-weight: 600;
//     font-style: normal;
// }

$Proxima-Nova: "Proxima Nova", sans-serif;
