.w-86 {
  width: 86px;
}

.w-85 {
  width: 85%;
}

.w-100-500 {
  width: calc(100vw - 500px);
}

.h-50px {
  height: 50px;
}

.max-h-50px {
  max-height: 50px;
}

.text-x-large {
  font-size: 18px;
}

.text-small {
  font-size: 12px;
}

.text-x-small {
  font-size: 11px !important;
}

.text-secondary {
  color: $text-secondary !important;
}

.p-30 {
  padding: 30px;
}

.mt-6 {
  margin-top: 0.6px;
}

.mt-30 {
  margin-top: 30px !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.position-relative {
  position: relative !important;
}

.overflow-auto {
  overflow: auto;
}

.bg-primary {
  background-color: $primary-background-color;
}

.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-gap-8 {
  gap: 8px !important;
}
.flex-gap-16 {
  gap: 16px !important;
}
.flex-gap-24 {
  gap: 24px !important;
}
.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}
.align-self-center {
  align-self: center !important;
}

.text-x-small {
  font-size: 11px !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

a {
  cursor: pointer !important;
}

.w-100-500 {
  width: calc(100vw - 500px);
}
.w-100 {
  width: 100% !important;
}

.position-relative {
  position: relative !important;
}

.m-4 {
  margin: 1.5rem !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.min-h-100-50 {
  min-height: calc(100vh - 50px);
}
