$cubic-out: cubic-bezier(0.32, 2.04, 0.85, 0.54);
$cubic-in: cubic-bezier(0.72, 1.2, 0.71, 0.72);

.ellipses {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  width: max-content;
  display: flex;
  figure {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #bdbdbd;
    margin: 5px 2px;
  }
  .middle {
    transition: all 0.25s $cubic-in;
    transform: scale(1);
    position: relative;
    box-shadow:
      0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16),
      0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
    -webkit-filter: blur(0.1px);
    filter: blur(0.1px);
  }

  .middle.active {
    transform: scale(4.5);
    transition: all 0.25s $cubic-out;
    box-shadow:
      0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16),
      0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  }

  li {
    font-family: "Montserrat";
  }

  a,
  li {
    color: #3c3c3c;
    text-decoration: none;
  }
  li:hover {
    background: #f0f0f0;
  }

  .dropdown {
    position: absolute;
    right: 0;
    top: 1em;
    transition: all 0.25s ease-out;
    transform: scale(0);
    transform-origin: 100% 0;

    display: inline-flex;
    padding: 16px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
    li {
      display: flex;
      padding: 8px 16px;
      align-items: center;
      gap: 10px;
      min-width: 180px;
      width: max-content;
      p {
        margin-block-start: 0em;
        margin-block-end: 0em;
      }
    }
    &:hover {
      ul {
        transform: scale(1);
      }
    }
    @media (max-width: 500px) {
      top: 2em;
    }
  }

  .dropdown.active {
    transform: scale(1);
    transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
  }
}
