.leave-container {
  margin-top: 20px;
  .leave-header {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
  .leave-section {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 0;
    background: #fff;
    padding: 16px;
    border: none;
    border-radius: 0.28571429rem;
    box-shadow:
      0 1px 3px 0 #d4d4d5,
      0 0 0 1px #d4d4d5;
    transition:
      box-shadow 0.1s ease,
      transform 0.1s ease;
    margin-top: 10px;

    .card-header-section {
      display: flex;
      justify-content: space-between;
      .card-header {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }
  .leave-balance-section {
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 0;
    background: #fff;
    padding: 16px 0px 0px;
    border: none;
    border-radius: 0.28571429rem;
    box-shadow:
      0 1px 3px 0 #d4d4d5,
      0 0 0 1px #d4d4d5;
    transition:
      box-shadow 0.1s ease,
      transform 0.1s ease;
    margin-top: 10px;
    .ui.celled.grid {
      margin: 0px !important;
    }
    .meta-text {
      font-size: 1em;
      color: #777;
      letter-spacing: 0.5px;
      font-size: 10px;
      text-transform: uppercase;
    }
    .balance-card-header-section {
      display: flex;
      justify-content: center;
      .card-header {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }
  .year-selector {
    border-color: $primary-color !important;
    color: $primary-color !important;
    background-color: transparent !important;
    padding: 16px !important;
    .ui.selection.visible.dropdown > .text:not(.default) {
      border-color: $primary-color !important;
      color: $primary-color !important;
    }
  }
}

.pending-leaves {
  .pending-leave-no-leave {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    padding: 10px 0px;
  }
}

.request-leave-container {
  .ui.button {
    border-radius: 8px !important;
    padding: 16px 16px !important;
  }
  .text-link {
    margin: 5px;
  }
}

.leave-stats-container {
  display: flex;
}
