.side-nav {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100px;
}

.side-nav-body {
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: #273143;

  .ui.thin.left.sidebar,
  .ui.thin.right.sidebar {
    width: 100px;
  }
  .ui.labeled.icon.menu .item {
    font-weight: 500;
    color: #a2a9b4;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .ui.sidebar {
    top: 50px;
    height: calc(100vh - 50px) !important;
  }
  .ui.vertical.inverted.menu .item:before {
    background: none;
  }
}

.nav-link {
  padding: 12px 0px !important;
  text-align: center;
}
.sidebar-list-icon {
  .svg-inline--fa {
    width: 16px !important;
    height: 16px !important;
    color: #a2a9b4 !important;
  }
}
