.session-container {
  height: 100vh !important;

  .login-container {
    width: 500px;
    padding: 30px 80px;
    overflow: auto;
    .login-empty-space {
      width: 300px;
      min-width: 300px;
      margin-bottom: 40px !important;
      margin-top: 10px !important;
    }
    .login-header {
      font-size: 18px;
      margin-bottom: 20px !important;
      font-weight: 500;
      color: $primary-color-text !important;
      line-height: 20px;
    }
  }

  .ui.form .field > label {
    font-size: 14px;
    color: $text-secondary !important;
    opacity: 1 !important;
    transform-origin: -4px 0 !important;
    font-weight: 400 !important;
  }

  .bg-login {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top left;
    }
  }

  @media only screen and (max-width: 600px) {
    .login-container {
      width: 100%;
      padding: 20px;
    }

    .bg-login {
      display: none;
    }
    .app-store-section {
      justify-content: center;
    }
  }
}
