.navbar {
  // navbar page-header navbar-light fixed-top"
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding: 0 !important;
}

.navbar-bg {
  background-image: url("../../images/nav-bg.png");
}
.page-header {
  height: 50px;
  overflow-y: visible;
  transition: all 0.3s ease;
  background-color: $primary-color !important;
  background: linear-gradient(90deg, transparent 59%, $gradient-color 100%);
}

.org-name {
  margin-right: 10px !important;
  color: #fff !important;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none !important;
  cursor: pointer !important;
}

.navbar-brand {
  width: 100px;
  height: 50px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.9);
  padding-left: 8px !important;
  padding-top: 8px !important;
  margin-right: 15px;
  img {
    width: 70px;
    height: 25px;
    vertical-align: middle;
    margin: 4px !important;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.topnav.nav {
  height: 40px;
  background-color: #fff !important;
  box-shadow: 3px 0 6px 0 #d8dde6 !important;
  border-bottom: 1px solid #dee2e6 !important;
  border-color: $border-color !important;
  position: relative !important;
  margin: 1px !important;

  a {
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    color: $secondary-color-text;
    padding: 8px !important;
  }

  a::after {
    position: absolute;
    bottom: -1px;
    left: 6%;
    content: "";
    border-right: 7px solid transparent;
    border-bottom: 7px solid;
    border-left: 7px solid transparent;
    opacity: 0;
  }

  a:hover,
  a:active {
    color: #000000 !important;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.page-header-left {
  margin-right: 8px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  cursor: pointer !important;
  .dropdown-menu {
    width: 222px;
    background-color: #394253;
  }
  .ui.top.right.pointing.dropdown > .menu {
    top: 30px !important;
    width: 222px;
    background-color: #394253;
  }
  .ui.top.right.pointing.dropdown > .menu:after {
    background-color: #394253;
  }
  .ui.dropdown .menu > .item {
    height: 40px;
    color: #a2a9b4 !important;
  }
}

.user-options {
  min-width: 140px;
  color: #fff;
  cursor: pointer;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  cursor: pointer !important;
  gap: 16px;
}
.profile-picture-container {
  margin-right: 10px !important;
}

.profile-picture {
  width: 32px;
  height: 32px;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 50% !important;
}
